.header{
    height: 60px;
    background: #2196f3;
    box-shadow: 0 0 4px 0 grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.header div{
    padding-left: 20px;
}
.nav-list{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    list-style: none;
    padding: 0;
}

.nav-list li{
    cursor: pointer;
}

.active{
    font-weight: bold;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
}
.menu{
    display: none;
}